@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.nav-ul {
    list-style-type: none;
    padding: 32px 140px;
    margin: 0;
    text-align: right;
}

.nav-ul li {
    display: inline-block;
    margin-right: 32px;
}

.nav-ul li:last-of-type {
    margin-right: 0px;
}

.nav-ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.logo {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    top: 36px;
    left: 140px;
}

.nav-btn {
    padding: 12px 24px;
    background-color: transparent;
    font-weight: 600;
    border: 2px solid black;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
}

.nav-btn:hover {
    background-color: black;
    color: white;
}

.landing-section {
    background-color: rgb(238, 238, 228);
    vertical-align: top;
    position: relative;
    overflow: hidden;
}

.landing-title {
    display: inline-block;
    width: 60%;
    padding: 100px 190px;
}

.landing-image {
    width: 43%;
    position: absolute;
    top: 0;
    right: 0
}

.landing-image img {
    width: 100%;

}

.landing-title h1 {
    margin: 0;
    width: 49%;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
}

.landing-title p {
    color: gray;
    width: 39%;
    font-size: 16px;
    letter-spacing: 0.01px;
    line-height: 25px;
    margin: 32px 0;
}

.get-started {
    padding: 14px 28px;
    color: white;
    border: none;
    background-color: black;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 32px;
}

p.watch-video{
    font-weight: 600;
    color: black;
    cursor: pointer;
}

.play {
    background-color: rgb(201, 152, 201);
    color: rgb(26, 26, 119);
    padding: 10px 12px 8px 14px;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
}

.ideas {
    position: absolute;
    z-index: 2;
    bottom: 26%;
    right: 39%;

    padding: 30px 24px;
    background-color: rgb(201, 152, 201);
    border-radius: 5px 30% 5px 30%;

    /* line-height: 22px; */
}

.ideas p {
    margin: 0;
}

.ideas .first {
    font-size: 23px;
    font-weight: 700;
}

.ideas .second {
    font-size: 12px;
    font-weight: 700;
    line-height: 10px;
}

.ideas .third {
    font-size: 20px;
    font-weight: 700;
}

.clients {
    position: absolute;
    z-index: 1;
    bottom: 10%;
    right: 34%;

    padding: 30px 24px;
    background-color: rgb(255, 255, 133);
    border-radius: 5px 30% 5px 30%;

}

.clients p {
    margin: 0;
}

.clients .first {
    font-size: 50px;
    font-weight: 700;
    line-height: 58px;
}

.clients .second {
    text-align: center;
    color: gray;
    font-size: 12px;
}

.drawing {
    width: 220px;
    height: 220px;
    position: absolute;
    bottom: 4%;
    left: 33%;
}

.drawing img {
    width: 100%;
}

.second-section {
    margin-top: 200px;
    padding: 0 190px;
    position: relative;
}

.second-section h2 {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.services-list-container {
    display: inline-block;
    margin: 0 auto;
    margin-left: 191px;

}

.services-list {
    list-style-type: none;
    width: 600px;
    padding: 0;
    margin: 0;
}

.services-list .service {
    position: relative;
    transition: background-color 300ms ease-in-out;
    padding: 24px;
    background-color: white;
}

.service-icon-container {
    width: 30%;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 23.5%;
    transform: translate(-50%, -50%);
}

.service-item {
    width: 69%;
    display: inline-block;
}

.service-icon {
    font-size: 24px;
    padding: 20px 24px;
    background-color: rgb(255, 255, 109);
    border-radius: 50%;
}

.service-name {
    font-weight: 700;
    transition: color 300ms ease-in-out;
}

.service-description {
    color: gray;
    line-height: 24px;
    width: 74%;
    transition: color 300ms ease-in-out;

}

.service:hover {
    background-color: black;
}

.service:hover .service-name{
    color: rgb(96, 96, 96);
}

.service:hover .service-description {
    color: lightgray;
}

.business-guy-image-container {
    position: absolute;
    top: 230px;
    left: 190px;
    width: 400px;
    height: 550px;
    overflow: hidden;
}

.business-guy-img {
    width: 100%;

}

.services-list .service:first-of-type {
    background-color: black;
}

.services-list .service:first-of-type .service-name {
    color: rgb(96, 96, 96);
}

.services-list .service:first-of-type .service-description {
    color: lightgray;
}

.black-background {
    position: absolute;
    background-color: black;
    bottom: -150px;
    left: 0;
    right: 0;
    top: 50%;
    z-index: -20;
}

.third-section {
    margin-top: 300px;
    padding: 0 190px;
}

.third-section-heading {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    width: 30%;
    display: inline-block;
    line-height: 70px;
}

.third-section-description {
    display: inline-block;
    margin: 0px 0px;
    width: 37%;
    color: gray;
    line-height: 30px;
    margin-left: 249px;
}

.second-drawing {
    width: 10%;
    display: inline-block;
}

.emphasized {
    font-weight: 700;
    color: rgb(56, 56, 56);
}

.second-drawing img {
    width: 100%;
}

.grid-wrapper {
    display: grid;
    align-items: top;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 42px;
}

.grid-element {
    position: relative
}

.grid-rel {
    position: relative;
    
    position: relative;
    bottom: -24%;

}

.grid-element:first-of-type {
    padding: 22px;
    background-color: rgb(2, 0, 21);
    color: white;
    height: 280px;
}

.yellow {
    color: rgb(5, 0, 54);
    padding: 22px;
    background-color: rgb(255, 255, 136);
    height: 280px;
}

.purple {
    color: rgb(5, 0, 54);
    padding: 22px;
    background-color: rgb(204, 166, 204);
    height: 280px;
}

.grid-element-number {
    margin: 0;
    display: inline-block;
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
}

.grid-element-badge {
    margin: 0;
    display: inline-block;
    margin-left: 52%;
    font-weight: 700;
    font-size: 12px;
    position: relative;
    top: -5px;
}

.grid-element-desc {
    margin: 0px;
    vertical-align: bottom;
    color: gray;
    line-height: 22px;
}

