@import url(./reset.css);
@import url(../../fontawesome-free-6.1.1-web/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
}


/*
------- ASIDE
 */

.side-menu {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 16%;
    height: 100vh;
    justify-content: space-between;
}

.side-menu-content {
    padding: 24px;
}

.content {
    background-color: white;
    width: 84%;
}

.logo {
    color: white;
    font-size: 32px;
}

.logo > i {
    margin-right: 8px;
}

.side-menu-btn {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    padding: 20px 9px;
    color: gray;
    background-color: transparent;
    cursor: pointer;

    border-bottom: 1px solid lightgray
}

.side-menu-btn i{
    width: 10%;
    
}

.search-bar {
    margin: 32px 0px;
    background-color: #181818;
    border: none;
    color: white;
    border-radius: 6px;
    height: 40px;
    padding: 0 8px;
}

.search-bar:focus {
    border: none;
    outline: none;
}

.menu-heading {
    color: gray;
    font-size: 26px;
    margin-bottom: 42px;
}

.popular-items > li {
    margin-bottom: 28px;
}

.popular-items > li > a {
    text-decoration: none;
    color: gray;
}

.popular-items-heading {
    color: lightgray;
}

.popular-items-heading > i {
    margin-right: 12px;
}

footer.side-menu-footer {
    display: flex;
    background-color: #252525;
    color: lightgray;
    height: 72px;
    
}

footer.side-menu-footer > button {
    background-color: transparent;
    border: none;
    color: gray;
    margin-left: 16px;
    cursor: pointer;
}

footer.side-menu-footer > button > i {
    margin-right: 14px;
}


/*------- MAIN - NAVIGATION-----*/

main {
    padding: 24px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* padding: 48px; */
}

.content > header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid lightgray;
}

.content > header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.content > header > nav  i{
    color: black;
    font-size: 24px;
}

.content > header > nav > ul {
    display: flex;
    gap: 36px;
    align-items: center;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;
    gap: 10px;
}

.user-info-img-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-info-name-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.account-type {
    font-size: 14px;
    color: rgb(182, 182, 182);
}

.welcome-message {
    font-size: 36px;
    font-weight: 500;
}

/* -------MAIN-CONTENT-------- */

.content-main {
    padding: 24px;
    display: flex;
}

.restaurant-info {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 190px;
}

.rating-badge {
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 6px;
    width: 9.48%;
}

.restaurant-details-container {
    display: flex;
    width: 70%;
    padding: 16px;
    background-color: #efe6d2;
    border-radius: 12px;
}

.shipping-details {
    width: calc(30% - 64px);
}

.restaurant-details {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;
    gap: 12px;
}

.chef-img-container img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.restaurant-details-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    color: #403931;
}

.restaurant-details-name {
    font-size: 22px;
    font-weight: 600;

}

.restaurant-details-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 100%;
}

.restaurant-details-right-side {
    width: 25%;
    background-image: url(./yellowdot-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.restaurant-details-img-background

.restaurant-details-right-side img {
    width: 100%;
    height: 100%;

}


.shipping-details {
    display: flex;
    flex-direction: column;
    background-color: #030303;
    border-radius: 12px;
    color: white;
    padding: 22px;
    font-size: 17px;
    font-weight: 500;
    justify-content: space-around;
}


.delivery-fees-container {
    display: flex;
    gap: 12px;

}

.shipping-details i {
    padding: 12px 16px;
    font-size: 20px;
    color: black;
    background-color: white;
    border-radius: 50%;
}

.arival-time-container {
    display: flex;
    gap: 12px;
}

.delivery-fees-price {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.arival-time-time {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.secondary {
    font-size: 14px;
    color: rgb(182, 182, 182);
}

.popular-items-divider {
    display: flex;
    justify-content: space-between;
    margin: 42px 0;

    color: #2e2e2e;
}

.mini-title {
    font-size: 24px;
    font-weight: 600;
}

.popular-items-divider button {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 200px;
    font-size: 15px;
    border-radius: 8px;

    color: white;
    background-color: black;

}

.bold {
    font-weight: 600;
}

.dishes-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}