body {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    gap: 10px;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

.component {
    border-radius: 3px;
    background-color: rgb(181, 216, 255);
    padding: 5px 10px;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
}

aside ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
}

aside ul li a {
    display: block;
    padding: 5px 0px;
    text-decoration: none;
    color: rgb(86, 40, 129)
}


@media (max-width: 600px) {
    body {grid-template-areas:
        "header header"
        "aside aside"
        "main main"
        "footer footer";
    }
    }