main {
    width: 900px;
    height: 140px;
}

p {
    display: inline-block;
    width: 45%;
    font-size: 20px;
    line-height: 30px;
    color: #2e2e2e;
    text-align: justify;
}

img {
    width: 50%;
    border-right: 1px solid #d1d1d1;
    padding-right: 19px;
    margin-right: 19px;
    float: left;
}